In [2]:
import pandas as pd

In [3]:
# filename = 'outputs/time.csv'
filename = 'outputs/dices.csv'
df = pd.read_csv(filename, index_col=0)

In [9]:
# Change string with comma to flaot
for col in df.columns:
    df[col] = df[col].str.replace(',', '.').astype(float)

In [10]:
# Take DF and clamp it to 4 decimal places
df = df.round(4)

In [11]:
print(df.to_latex())

\begin{tabular}{lrll}
\toprule
 & Snakes & QuadTree & Otsu \\
Tamanhos &  &  &  \\
\midrule
$64\times64$ & 0.622500 & 0,808381704019935 & 0,850587391787834 \\
$256\times256$ & 0.831500 & 0,830878109733738 & 0,821244478240774 \\
$1024\times1024$ & 0.831000 & 0,681453029338908 & 0,826030257326244 \\
\bottomrule
\end{tabular}